<nz-layout>
  <nz-header></nz-header>
  <nz-layout>
    <nz-drawer [nzClosable]="false" [nzVisible]="false" nzPlacement="right" nzTitle="Basic Drawer">
      <ng-container>
        <app-song-queue></app-song-queue>
      </ng-container>
    </nz-drawer>

    <nz-content>
      <div class="container-fluid">
        <app-search-bar></app-search-bar>
        <div nz-row style="margin-top: 5vh">
          <div nz-col [nzSpan]="18" [nzPush]="6">
            <app-result-list class="mx-auto"></app-result-list>
          </div>
          <div nz-col [nzSpan]="6" [nzPull]="18">
            <app-song-queue></app-song-queue>
          </div>
        </div>
      </div>
    </nz-content>
  </nz-layout>
  <app-set-up-modal></app-set-up-modal>
  <nz-footer>
    <app-cookie-settings></app-cookie-settings>
  </nz-footer>
</nz-layout>
