<nz-layout>
  <nz-header></nz-header>
  <nz-layout>
    <nz-drawer [nzClosable]="false" [nzVisible]="false" nzPlacement="right" nzTitle="Basic Drawer">
      <ng-container>
        <app-song-queue></app-song-queue>
      </ng-container>
    </nz-drawer>

    <nz-content>
      <div class="container" *ngIf="!this.requestService.hasSearchedAlready">
        <app-search-bar></app-search-bar>
      </div>
      <div class="container-fluid" *ngIf="this.requestService.hasSearchedAlready">

      </div>
    </nz-content>
  </nz-layout>

  <app-set-up-modal></app-set-up-modal>
  <nz-footer>
    <app-cookie-settings></app-cookie-settings>
  </nz-footer>
</nz-layout>
